.tab-bar { background: #412E7F; }

.link { color: #412E7F; font-weight: bold; }
strong { color: #412E7F; }

#dac-unicamp { padding: 45px 0 0 0;}
#dac-unicamp img { display: block; margin: 15px auto; }

#home-icon { color: #fff; display: block; font-size: 1.5em; text-align: center; }

section.main-section .area-curso:nth-child(4n+1) { }
section.main-section .area-curso:nth-child(4n+1) .accordion-navigation { border-left: 5px solid #F39C12; }
section.main-section .area-curso:nth-child(4n+1) .circle { background: #F39C12; }      

section.main-section .area-curso:nth-child(4n+2) { }
section.main-section .area-curso:nth-child(4n+2) .accordion .accordion-navigation { border-left: 5px solid #52B3D9; }      
section.main-section .area-curso:nth-child(4n+2) .circle { background: #52B3D9; }

section.main-section .area-curso:nth-child(4n+3) { }      
section.main-section .area-curso:nth-child(4n+3) .accordion .accordion-navigation { border-left: 5px solid #26A65B; }      
section.main-section .area-curso:nth-child(4n+3) .circle { background: #26A65B; }      

section.main-section .area-curso:nth-child(4n+4) { }      
section.main-section .area-curso:nth-child(4n+4) .accordion .accordion-navigation { border-left: 5px solid #E74C3C; }      
section.main-section .area-curso:nth-child(4n+4) .circle { background: #E74C3C; }    

.area-curso { border-bottom: 1px solid #FFF; /*max-width: 100%;*/ }
.area-curso .card-area-curso span { color: #000; display: block; font-size: 1.3em; padding: 20px 0 20px 0; }
.area-curso .accordion { margin-left: 0 !important; }
.area-curso .accordion .programa { text-align: left; }
.area-curso .accordion .accordion-navigation { border-bottom: 1px solid #FFF; }
.area-curso .accordion .accordion-navigation a { font-size: 0.85em; }
.area-curso .accordion .accordion-navigation.last { border-bottom: 0;}
.area-curso .circle {
    height: 45px;
    float: left;
    width: 45px;
    margin: 13px 20px 20px 20px;
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    -ms-border-radius: 10000px;
    -o-border-radius: 10000px;
    border-radius: 10000px;
}

#footer { background: #412E7F; color: #fff;  font-size: 0.80em; height: 220px; margin-top: 15px; padding-top: 10px; text-align: right; }

@media screen and (max-width: 1024px) {
  .accordion .accordion-navigation { border-right: 0px !important; }
  .area-curso .card-area-curso a { padding: 0px 0 10px 0 !important; text-align: center;}    
  .area-curso .circle { float: none; height: 30px !important; margin: 10px auto; width: 30px !important;}  

  h1 span.big { display: none; }

  #footer { height: 60px;}
}

@media screen and (max-width: 360px){
	h1 span.small { display: none; }
}

.prefixos-disciplinas {
  display: flex;
  flex-wrap: wrap;
}

.prefixos-disciplinas > div {
  padding: 0 10px 0 10px  
}

.prefixos-disciplinas a {
  min-width: 25px;
  display: block;
}

table.curriculo {
  margin-left: 10px;
  width: 95%;
}

table.curriculo tr td:nth-child(1) {
  width: 60px;
}

table.curriculo tr td:nth-child(2) {
  width: 40px;
}

table.curriculo tr td:nth-child(3) {
  width: 40px;
}

table.lista-disciplinas {
  margin-left: 10px;
  width: 95%;
}

table.lista-disciplinas tr td:nth-child(1) {
  width: 60px;
}

.no-pad-right { padding-right: 0; }
.no-pad-left { padding-left: 0; }
.no-pad-horizontal { padding-right: 0; padding-left: 0; }     
.pad-content { padding: 10px 20px 0 20px;}         


div.long-text p, p.long-text {
  text-align: justify;
}

#principal { padding: 55px 0 10px 0;}
.sem-principal { padding: 55px 0 10px 0;}
#principal h1 { font-size: 1.7em;}
.sem-principal h1 { font-size: 1.7em;}
h2 { background: #412E7F; /*#E87E04*/; color: #FFF; font-size: 1em; padding: 7px 13px;}
h3 { border-bottom: 1px solid #DDD; color: #E87E04; font-size: 0.9em; font-weight: bold; margin: 10px;}
#localizacao { color: #666; padding-top: 0px; }
#localizacao .info-contato { padding-top: 10px; }
#localizacao .info-contato p.endereco { background: #FFF; font-size: 1em; margin: 5px 0; padding: 5px; width: 100%;}
#localizacao .info-contato p.internet { background: #FFF; border-left: 2px solid #CCC; font-size: 0.8em; margin: 5px 0; padding: 5px; text-align: right; width: 100%;}      
#localizacao iframe { display: block; height: 200px; margin: 0; width: 100%; }     
.professores p strong { color: #666 !important; }
.pad-content p { font-size: 0.9em; padding: 0 10px 0 10px;}
.pad-content * li { font-size: 0.9em; }
#programa button { background: #E87E04; display: block; font-size: 0.9em; padding: 4px; width: 100%; }

@media screen and (max-width: 1024px) {
  #principal { padding: 0px; }  
  .sem-principal { padding: 55px 0 0 0;} 
  #localizacao .info-contato { padding-top: 0px; }      
  #localizacao .info-contato p.endereco { font-size: 1em; margin: 5px 0; padding: 5px; text-align: center }
  #localizacao .info-contato p.internet { background: #FFF; border-left: 0; border-top: 2px solid #CCC; display: block; font-size: 1em; margin: 5px auto; padding: 20px 5px; text-align: center; width: 90%;}      
  .pad-content { padding: 10px 40px 0 40px;}

}      



